<h1>Listing temporaryaccounts</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @temporaryaccounts.each do |temporaryaccount| %>
  <tr>
    <td><%= temporaryaccount.email %></td>
    <td><%= temporaryaccount.client %></td>
    <td><%= link_to 'Show', temporaryaccount %></td>
    <td><%= link_to 'Edit', edit_temporaryaccount_path(temporaryaccount) %></td>
    <td><%= link_to 'Destroy', temporaryaccount, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Temporaryaccount', new_temporaryaccount_path %>
