<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @client.firstName %>
</p>

<p>
  <b>Ismale:</b>
  <%= @client.isMale %>
</p>

<p>
  <b>Lastname:</b>
  <%= @client.lastName %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
